<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beksan Civata İletişim</title>
    <link rel="stylesheet" href="stylesheets/Genelayar.css">
    <link rel="stylesheet" href="stylesheets/İletisim.css">
</head>
<body>
    <nav>
        <div class="navbar-container">
            <a href="/" class="link-h2"><h2 class="h2-nav">ANASAYFA</h2></a>
            <a href="/kurumsal" class="link-h2"><h2 class="h2-nav">KURUMSAL</h2></a>
            <a href="/urunler" class="link-h2"><h2 class="h2-nav">ÜRÜNLER</h2></a>
            <a href="/iletisim" class="link-h2"><h2 class="h2-nav">İLETİŞİM</h2></a>
        </div>
    </nav>
    <div class="section-container">
        <section class="Communication-channels">
            <h1>İLETİŞİM</h1>
            <div class="gnl-mudurluk-iletisim">
                <p class="text-p">Genel Müdürlük / Depo</p>
                <p class="text-p">Adres : 4 Eylül Sanayi Sitesi 53-19. Sok No:1 Merkez / SİVAS</p>
                <p class="text-p">Tel : 0 346 222 09 32</p>
                <p class="text-p">Faks : 0 346 225 61 66</p>
                <p class="text-p">info@beksancivata.com</p>
            </div>
            <div class="social-media">
                <div class="media-linkedin">
                    <p>Linedin:</p>
                    <a href="https://www.linkedin.com/in/beksan-civata-51861549/" target="_blank"><img src="icons/linkedin.svg" alt="" id="linkedin"></a>
                </div>
                <div class="media-facebook">
                    <p>Facebook:</p>
                    <a href="https://www.facebook.com/profile.php?id=100008859933727" target="_blank"><img src="icons/facebook.svg" alt="" id="facebooklogo"></a>
                </div>
                <div class="media-instagram">
                    <!--!! WRONG ADRESSS ERRORO FİX İT  -->
                    <p>İnstagram:</p>
                    <a href="https://www.instagram.com/bulent.korkmaz.547/" target="_blank"><img src="icons/instagram.svg" alt="" id="instagramicon"></a>
                </div>
            </div>

        </section>
        <section class="Map-container">
            <h1>GOOGLE MAPS</h1>
            <iframe src="https://www.google.com/maps/embed?pb=!3m2!1sen!2str!4v1718430973874!5m2!1sen!2str!6m8!1m7!1sE1BW4kpMAECTliSnSgeQ3A!2m2!1d39.72657680618148!2d37.00431902966222!3f70.70717336938222!4f1.8191062325995944!5f0.7820865974627469" width="1100" height="800" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="iframe-maps"></iframe>
        </section>
    </div>
    <div class="banner-div">
        <img src="logo/logo-nobgkırp.png" alt="BeksanCivataLogo" id="banner-id">
    </div>
</body>
</html>