<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beksan Civata</title>
    <link rel="stylesheet" href="stylesheets/Main.css">
    <link rel="stylesheet" href="stylesheets/Slideshow.css">
</head>
<body>
    <nav id="nav-ticket-nav">
        <div class="navbar-container">
            <a href="/" class="link-h2"><h2 class="h2-nav">ANASAYFA</h2></a>
            <a href="/kurumsal" class="link-h2"><h2 class="h2-nav">KURUMSAL</h2></a>
            <a href="/urunler" class="link-h2"><h2 class="h2-nav">ÜRÜNLER</h2></a>
            <a href="/iletisim" class="link-h2"><h2 class="h2-nav">İLETİŞİM</h2></a>
        </div>
    </nav>

    <div id="main-id1">
        <div class="slideshow-container">
            <div class="mySlides fade">
                <div class="numbertext">1 / 3</div>
                <img src="images/Dış Cephe1.jpg" style="width:100%" class="slide-picture">
                <div class="text"></div>
            </div>
            <div class="mySlides fade">
                <div class="numbertext">2 / 3</div>
                <img src="images/Dış Cephe2.jpg" style="width:100%" class="slide-picture">
                <div class="text"></div>
            </div>
            <div class="mySlides fade">
                <div class="numbertext">3 / 3</div>
                <img src="images/İç Görünüm.jpg" style="width:100%" class="slide-picture">
                <div class="text">Mağazamızın Dış Görünüşü</div>
            </div>
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
        <div id="aciklama-yazi">
            <h2 class="aciklama-baslik">Neden Beksan Civata</h2>
            <p class="aciklama"> Beksan Civata Tic. San. Ltd. Şti., kaliteli ve çeşitli civata ve hırdavat ürünleriyle sektörde öne çıkan bir şirkettir...</p>
            <br>
            <h2 class="aciklama-baslik">Neden Beksan Civata</h2>
            <p class="aciklama">Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
            <br>
            <h2 class="aciklama-baslik">Neden Beksan Civata</h2>
            <p class="aciklama">Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
            <br>
            <h2 class="aciklama-baslik">Neden Beksan Civata</h2>
            <p class="aciklama">Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
        </div>
    </div>
    <div class="banner-div">
        <img src="logo/logo-nobgkırp.png" alt="BeksanCivataLogo" id="banner-id">
    </div>
    <script src="Javascript/Mainscript.js"></script>
</body>
</html>
