<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beksan Civata Kurumsal</title>

    <link rel="stylesheet" href="stylesheets/Genelayar.css">
    <link rel="stylesheet" href="stylesheets/Kurumsal.css">
</head>
<body>
    <nav>
        <div class="navbar-container">
            <a href="/" class="link-h2"><h2 class="h2-nav">ANASAYFA</h2></a>
            <a href="/kurumsal" class="link-h2"><h2 class="h2-nav">KURUMSAL</h2></a>
            <a href="/urunler" class="link-h2"><h2 class="h2-nav">ÜRÜNLER</h2></a>
            <a href="/iletisim" class="link-h2"><h2 class="h2-nav">İLETİŞİM</h2></a>
        </div>
    </nav>
    

    <header>
        <h1>Beksan Civata Ltd. Şti.</h1>
    </header>
    
    <div id="cards-container">
        <div id="list-ofinfo" class="item-card">
                <h3>Yenilikleri sizin için takip ediyoruz...</h3>
                <p>1997 yılında sanayiye civata ve hırdavatta farklılık yaratan ürünlerin toptan-perakende satış ağıyla hizmete başlayan işletmemiz, bugün 15,000 den fazla ürünün tedariğini ve satışını gerçekleştirmekte ve günlük hayatımızı kolaylaştıran ürünleri sunmaktadır.</p>
                <p>Yerli ve yabancı ürün gruplarıyla sektöründe hızlı büyüyen fakat istikrarlı kurumsal yapıda dünya devleriyle yarışan bir kurum haline gelen işletmemiz ülkemizde seçkin markaların Sivas dağıtıcılığını yapmakta ve sektöre katma değer kazandırmaktadır.</p>
        </div>

        <div id="list-structure-organization" class="item-card">
            <h3>Organizasyon yapımız olarak 5 temel kurumsal yapıdan oluşuyor:</h3>
            <span id="list-span">
                <ul>
                    <li>Genel Yönetim</li>
                    <li>Stratejik Satış Pazarlama Sistemi (SSPL)</li>
                    <li>Stratejik Satınalma Sistemi</li>
                    <li>Proje Teknik Hizmetleri Birimi</li>
                    <li>Müşteri Hizmet Takip Otomasyon Sistemi</li>
                </ul>
            </span>
        </div>

        <div id="list-targets" class="item-card">
            <h3>HEDEFLERİMİZ</h3>
            <ul>
                <li>Sektörümüzde kalıcılık ve süreklilik,</li>
                <li>Stratejik iş ortaklarıyla projeler gerçekleştirmek ve öncülük etmek</li>
                <li>Yaratılan değere dayalı rekabet görüşünü benimsemek,</li>
                <li>İyi bir kamuoyu yaratarak sektörümüzde örgütsel kültürümüzü korurken, teknolojik gelişmeleri, Ar-Ge çalışmalarıyla bütünleştirip farklu ürün konseptlerini oluşturarak yenilikçiliğimizle rekabet gücümüzü sunabilmek.
                </li>
            </ul>
        </div>
    </div>
    <footer id="footer-kr">
        <p>&copy; 2024 Beksan Civata Ltd. Şti. - Tüm hakları saklıdır.</p>
    </footer>


    <div class="banner-div">
        <img src="logo/logo-nobgkırp.png" alt="BeksanCivataLogo" id="banner-id">
    </div>
</body>
</html>