<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Beksan Civata Tic. San. Ltd.Şti. hakkında kurumsal bilgiler, firma tanıtımı">
    <meta name="keywords" content="Beksan Civata, hırdavat, elektrikli el aletleri, Sivas, amatör iş aletleri, profesyonel iş aletleri">
    <title>Kurumsal - Beksan Civata</title>

    <link rel="stylesheet" href="/stylesheets/Genelayar.css">
    <link rel="stylesheet" href="/stylesheets/Kurumsal.css">
</head>
<body>
    <nav>
        <div class="navbar-container">
            <a href="/" class="link-h2"><h2 class="h2-nav">ANASAYFA</h2></a>
            <a href="/kurumsal" class="link-h2"><h2 class="h2-nav">KURUMSAL</h2></a>
            <a href="/urunler" class="link-hs2"><h2 class="h2-nav">ÜRÜNLER</h2></a>
            <a href="/iletisim" class="link-h2"><h2 class="h2-nav">İLETİŞİM</h2></a>
        </div>
    </nav>


<div>
    <div class="KURUMSAL">
        <h3>Kuruluş ve Hedeflerimiz</h3>
        <p>
            1986 yılında sanayiye civata ve hırdavatta farklılık yaratan ürünlerin toptan-perakende satış ağıyla hizmete başlayan işletmemiz, bugün 15,000'den fazla ürünün tedariğini ve satışını gerçekleştirmekte ve günlük hayatımızı kolaylaştıran ürünleri sunmaktadır. Yerli ve yabancı ürün gruplarıyla sektöründe hızlı büyüyen fakat istikrarlı kurumsal yapıda dünya devleriyle yarışan bir kurum haline gelen işletmemiz, ülkemizde seçkin markaların Sivas dağıtıcılığını yapmakta ve sektöre katma değer kazandırmaktadır.
        </p>
    </div>
    <br>
    <div class="KURUMSAL">
        <h3>KURUM YAPIMIZ</h3>
        <ul>
            <li>Genel Yönetim: Tüm stratejik kararları alan birim.</li>
            <li>Stratejik Satış Pazarlama Sistemi (SSPL): Tüm satış faaliyetlerini yürüten birim.</li>
            <li>Stratejik Satınalma Sistemi: Tüm teknik satınalma hizmet faaliyetlerini yürüten birim.</li>
            <li>Proje Teknik Hizmetleri Birimi: Projelendirme ve proje üretimi gerçekleştiren birim.</li>
            <li>Müşteri Hizmet Takip Otomasyon Sistemi: Tüm müşteri kontrolünü sağlayan birim.</li>
        </ul>
        
    </div>
    <br>
    <div class="KURUMSAL">
        <h3>HEDEFLERİMİZ</h3>
        <ul>
            <li>Sektörümüzde Kalıcılık ve Süreklilik: Uzun vadeli hedeflerimizle sektörde kalıcılığı sağlamak.</li>
            <li>Stratejik İş Ortaklıkları: Stratejik iş ortaklarıyla projeler gerçekleştirmek ve öncülük etmek.</li>
            <li>Rekabet Gücü: Yaratılan değere dayalı rekabet görüşünü benimsemek.</li>
            <li>Teknolojik Gelişmeler: Teknolojik gelişmeleri ve Ar-Ge çalışmalarını takip ederek yenilikçi ürün konseptleri oluşturmak.</li>
            <li>Organizasyonel Kültür: İyi bir kamuoyu yaratarak sektörde örgütsel kültürümüzü korumak.</li>
        </ul>
        <h4>BEKSAN CİVATA LTD. ŞTİ. "Yenilikleri sizin için takip ediyoruz..."</h4>
    </div>
    <br>
    

</div>
<br><br><br><br><br><br><br><br><br><br>




    <footer id="footer-kr" >
        <p>&copy; 2024 Beksan Civata Ltd. Şti. - Tüm hakları saklıdır.</p>
    </footer>


    <div class="banner-div">
        <a href="/login"><img src="logo/logo-nobgkırp.png" alt="BeksanCivataLogo" id="banner-id"></a>
    </div>
</body>
</html>