<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/Genelayar.css">
</head>
<body>
    <nav id="nav-ticket-nav">
        <div class="navbar-container">
            <a href="/" class="link-h2"><h2 class="h2-nav">ANASAYFA</h2></a>
            <a href="/kurumsal" class="link-h2"><h2 class="h2-nav">KURUMSAL</h2></a>
            <a href="/urunler" class="link-h2"><h2 class="h2-nav">ÜRÜNLER</h2></a>
            <a href="/iletisim" class="link-h2"><h2 class="h2-nav">İLETİŞİM</h2></a>
        </div>
    </nav>
    <div id="login-form">
        <form action="/login/logincontrol" method="post">
            <label for="uname">Username:</label>
            <input type="text" id="uname" name="uname" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <input type="submit" value="GİRİŞ YAP">
        </form>
    </div>
    <div class="banner-div">
        <img src="logo/logo-nobgkırp.png" alt="BeksanCivataLogo" id="banner-id">
    </div>
</body>
</html>