<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Giriş yap ve hesap yönetimi">
    <meta name="keywords" content="giriş yap, kullanıcı oturumu, hesap yönetimi">
    <title>Giriş Yap - Beksan Civata</title>
    <link rel="stylesheet" href="/stylesheets/Genelayar.css">
    <link rel="stylesheet" href="/stylesheets/Login.css">
</head>
<body>
    <nav id="nav-ticket-nav">
        <div class="navbar-container">
            <a href="/" class="link-h2"><h2 class="h2-nav">ANASAYFA</h2></a>
            <a href="/kurumsal" class="link-h2"><h2 class="h2-nav">KURUMSAL</h2></a>
            <a href="/urunler" class="link-h2"><h2 class="h2-nav">ÜRÜNLER</h2></a>
            <a href="/iletisim" class="link-h2"><h2 class="h2-nav">İLETİŞİM</h2></a>
        </div>
    </nav>
    <div id="login-form">
        <form action="/login/logincontrol" method="post" class="login-frm-in">
            <label for="uname" class="margin-frm-item">Username:</label>
            <input type="text" id="uname" name="uname" required class="margin-frm-item">
            <label for="password" class="margin-frm-item">Password:</label>
            <input type="password" id="password" name="password" required class="margin-frm-item">
            <input type="submit" value="GİRİŞ YAP" class="margin-frm-item">
        </form>
    </div>
    <div class="banner-div">
        <a href="/login"><img src="logo/logo-nobgkırp.png" alt="BeksanCivataLogo" id="banner-id"></a>
    </div>
</body>
</html>
