/* Genel Ayarlar */
/* body {
    margin: 0;
    top: 0;
    background-color: #68584A;
}

#nav-ticket-nav {
    width: 100%;
    background-color: #1F3422;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.link-h2 {
    text-decoration: none;
}

.h2-nav {
    font-size: 25px;
    color: #C9B783;
    margin: 0 15px;
}

.h2-nav:hover {
    color: red;
}

#main-id1 {
    background-color: #68584A;
    margin: 20px;
}

/* Responsive Ayarlar */
/* @media (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
    }

    .h2-nav {
        font-size: 20px;
        margin: 10px 0;
    }
}  */


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F2F4F3; /* Light gray background */
    color: #333333; /* Dark gray text */
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #004F7C; /* Dark blue background for navbar */
    padding: 10px;
    height: 40px;
  }
  
  .h2-nav {
    color: #FFFFFF; /* White text for navbar links */
    margin: 0;
    font-size: 18px;
  }
  
  .h2-nav:hover {
    color: #FFD700; /* Gold color for hover effect */
  }
  .banner-div {
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #004F7C; /* Dark blue background */
    box-sizing: border-box; /* Padding'i toplam genişliğe dahil eder */
}


 

