.texts-container {
    background-color: #027dc5;
    padding: 20px;
}
.texts-container h1 {
    font-size: 60px;
    text-align: center;
}
.iframe-container iframe {
    width: 100%;
    height: 800px;
}
.text-p {
    padding: 10px;
    font-size: 20px;
    text-align: center;
}
.all-container {
    background-color: #027dc5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.img-link {
    width: 50%;
}
.link-container {
    font-size: 40px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    text-align: center;
}
.link-part {
    background-color: #027dc5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 33.3%;
}
.iframe-container h1 {
    text-align: center;
}

@media (max-width: 1500px) {
    .all-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
    .text-p {
        font-size: 18px;
    }
    .link-container {
        font-size: 30px;
    }
}
@media (max-width: 768px) {
    .texts-container h1 {
        font-size: 40px;
    }
    .text-p {
        font-size: 16px;
    }
    .link-container {
        font-size: 25px;
    }
    .iframe-container iframe {
        height: 400px;
    }
}
