/* Main Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F2F4F3; /* Light gray background */
  color: #333333; /* Dark gray text */
}

.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #004F7C; /* Dark blue background for navbar */
  padding: 10px;
  height: 40px;
}

.h2-nav {
  color: #FFFFFF; /* White text for navbar links */
  margin: 0;
  font-size: 18px;
}

.h2-nav:hover {
  color: #FFD700; /* Gold color for hover effect */
}

#main-id1 {
  padding: 20px;
}

.aciklama-baslik {
  color: #004F7C; /* Dark blue color for headings */
  font-size: 24px;
}

.aciklama {
  color: #333333; /* Dark gray color for text */
  line-height: 1.6;
}

.banner-div {
  text-align: center;
  padding: 20px;
  background-color: #004F7C; /* Dark blue background */
}

#banner-id {
  max-width: 100%;
  height: auto;
}
.slide-picture{
  height: 700px;
}
/* Slideshow Styles */
.slideshow-container {
  position: relative;
  max-width: 60%;
  margin: auto;
}

.mySlides {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Add more styles as needed */



