/* Main Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F2F4F3; /* Light gray background */
  color: #333333; /* Dark gray text */
}

.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #004F7C; /* Dark blue background for navbar */
  padding: 10px;
  height: 10px;
}
li{
  margin-top: 10px;
}
.h2-nav {
  color: #FFFFFF; /* White text for navbar links */
  margin: 0;
  font-size: 16px;
}

.h2-nav:hover {
  color: #FFD700; /* Gold color for hover effect */
}

#main-id1 {
  padding: 20px;
}

.aciklama-baslik {
  color: #004F7C; /* Dark blue color for headings */
  font-size: 24px;
}

.aciklama {
  color: #333333; /* Dark gray color for text */
  line-height: 1.6;
}

.banner-div {
  text-align: center;
  padding: 20px;
  background-color: #004F7C; /* Dark blue background */
}

#banner-id {
  max-width: 100%;
  height: auto;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



.active, .dot:hover {
  background-color: #717171;
}


/* Add more styles as needed */

/* YENİ SLAYTIN KODU */
.section {
  display: inline-flex; /* div elementini inline-flex olarak ayarlıyoruz */
  width: 400px;
  height: 300px;
  background-color: #fff;
  overflow: hidden;

  border: 2px solid black;
}

.section img {
  width: 150px;
  height: 100%;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  object-fit: cover;
  flex-grow: 1; 
}

.section img:hover {
  width: 200px;
  flex-grow: 2;
}

/* yazılarla ilgili kısım */
.grid-div{
  display: grid;
  grid-template-columns:  1fr 1fr;
  background-color: #027dc5;
  box-shadow: 10px 10px 10px #000000;


}

.aciklama-resim-div{
  width: 100%;
  height: 100%;

}
.aciklama-resim-div img{
  width: 90%;
  height: 100%;
}

.aciklama-yazı-div{
  width: 80%;
  margin-left: 50px;
  margin-top: 60px;
  font-size: 20px;

}




.RESM{
  float: right;
}

/*!RESPNSİVE*/

.grid-div-row{
  display: grid;
  grid-template-rows:  1fr 1fr;
  background-color: #027dc5;
  box-shadow: 10px 10px 10px #000000;


}

.ORDER{
 grid-row: 1;
}

/*RESPNSİVE*/
@media (width < 800px)
{
  .h2-nav {
    font-size: 10px;
  }
  .aciklama-resim-div img{
    width: 100%;
    height: 100%;
  }



  
}